*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  block-size: 100%;
  inline-size: 1200px;
}

.content {
  display: flex;
  align-items: flex-end;
  margin: 133px 30px;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

/*! левый контейнер */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*! видеоконтейнер */

/*контейнер спозиционирова относительно*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  /* margin-bottom: 16px; */
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*! форма поиска города */

/* контейнер поиска */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

/* состояния формы поиска */
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2.5px 0;
  min-width: 230px;
  appearance: none;
}

/* ниже будут состояния textfield */
.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/* Время суток чекбоксы */
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

/* тут рисуем новые чекбоксы */
.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  flex-shrink: 0;
}

/* квадрат в чеке */
.search-form__pseudo-checkbox::before {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

/* форма выбрана */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

/* форма активна */
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  display: block;
}

/* кнопка поиска */
.search-form__submit-button {
  align-self: end;
}

.button {
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  width: 194px;
  height: 34px;
  background: transparent;
  cursor: pointer;
}

/* состояния кнопки */
.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* скрытие стандартных форм */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*! Правый контейнер*/

/* контент */
.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex-grow: 1;
}

/*заголовок сайта*/
.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/*карточки*/
.content__list {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  padding: 3px;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
}

/* состояния карточек */
.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* текущая карточка */
.content__card-link_current {
  background: #545050;
}

/* описание */
.content__video-card {
  display: flex;
}

/* text */
.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin: 2px 0 2px;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

/* Видео */
.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* кнопка еще */
.more-button {
  width: 100%;
}